<?xml version="1.0"?>
<config>
    <modules>
        <Whlly_Stores>
            <version>1.0.1</version>
        </Whlly_Stores>
    </modules>    
    <global>
        <models>
            <stores>
                <class>Whlly_Stores_Model</class>
				<resourceModel>stores_mysql4</resourceModel>
            </stores>
			<stores_mysql4>
                <class>Whlly_Stores_Model_Mysql4</class>
                <entities>
                    <stores>
                        <table>whlly_stores</table>
                    </stores>
                </entities>
            </stores_mysql4>
        </models>
        <resources>
            <stores_setup>
                <setup>
                    <module>Whlly_Stores</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stores_setup>
            <stores_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </stores_write>
            <stores_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </stores_read>
        </resources>
        <blocks>
            <stores>
                <class>Whlly_Stores_Block</class>
            </stores>
        </blocks>
        <helpers>
            <stores>
                <class>Whlly_Stores_Helper</class>
            </stores>
        </helpers>
    </global>
	<admin>
        <routers>
			<stores>
				<use>admin</use>
				<args>
					<module>Whlly_Stores</module>
					<frontName>stores</frontName>
				</args>
			</stores>
        </routers>
    </admin>
	 <adminhtml>
	 	<menu>
			<stores module="stores">
				<title>Stores</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="stores">
						<title>Manage Stores</title>
						<sort_order>0</sort_order>
						<action>stores/adminhtml_stores</action>
					</items>
				</children>
			</stores>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Whlly_Stores>
							<title>Stores Module</title>
							<sort_order>10</sort_order>
						</Whlly_Stores>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<stores>
					<file>stores.xml</file>
				</stores>
			</updates>
		</layout>
    </adminhtml>  
	 <frontend>
        <routers>
            <stores>
                <use>standard</use>
                <args>
                    <module>Whlly_Stores</module>
                    <frontName>stores</frontName>
                </args>
            </stores>
        </routers>
        <layout>
            <updates>
                <stores>
                    <file>stores.xml</file>
                </stores>
            </updates>
        </layout>
    </frontend> 	   
</config>
