<?xml version="1.0"?>
<config>
    <modules>
        <Whlly_Agent>
            <version>1.0.1</version>
        </Whlly_Agent>
    </modules>    
    <global>
        <models>
            <agent>
                <class>Whlly_Agent_Model</class>
                <entities>
                    <agent>
                        <table>agent</table>
                    </agent>
                </entities>
            </agent>
        </models>
		<rewrite>
            <whlly_agent_customer>
              	<from><![CDATA[#^/customer/account/#]]></from>
                <to>/agent/customer/</to>
            </whlly_agent_customer>
		</rewrite>
        <resources>
            <agent_setup>
                <setup>
                    <module>Whlly_Agent</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </agent_setup>
            <agent_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </agent_write>
            <agent_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </agent_read>
        </resources>
        <blocks>
            <agent>
                <class>Whlly_Agent_Block</class>
            </agent>
        </blocks>
        <helpers>
            <agent>
                <class>Whlly_Agent_Helper</class>
            </agent>
        </helpers>
    </global>
	 <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Whlly_Agent>
							<title>Agent Module</title>
							<sort_order>10</sort_order>
						</Whlly_Agent>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<agent>
					<file>agent.xml</file>
				</agent>
			</updates>
		</layout>
    </adminhtml>  
	 <frontend>
	 	<secure_url>
            <customer>/agent/</customer>
        </secure_url>
        <routers>
            <agent>
                <use>standard</use>
                <args>
                    <module>Whlly_Agent</module>
                    <frontName>agent</frontName>
                </args>
            </agent>
        </routers>
        <layout>
            <updates>
                <agent>
                    <file>agent.xml</file>
                </agent>
            </updates>
        </layout>
    </frontend>    
</config>
