<?xml version="1.0"?>
<config>
    <modules>
        <Whlly_Sizematrix>
            <version>1.0.0</version>
        </Whlly_Sizematrix>
    </modules>
    <frontend>
        <routers>
            <sizematrix>
                <use>standard</use>
                <args>
                    <module>Whlly_Sizematrix</module>
                    <frontName>sizematrix</frontName>
                </args>
            </sizematrix>
        </routers>
        <layout>
            <updates>
                <sizematrix>
                    <file>sizematrix.xml</file>
                </sizematrix>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<sizematrix>
				<use>admin</use>
				<args>
					<module>Whlly_Sizematrix</module>
					<frontName>sizematrix</frontName>
				</args>
			</sizematrix>
        </routers>
    </admin>
    <global>       
        <resources>
            <sizematrix_setup>
                <setup>
                    <module>Whlly_Sizematrix</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sizematrix_setup>
            <sizematrix_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sizematrix_write>
            <sizematrix_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sizematrix_read>
        </resources>
        <blocks>
            <sizematrix>
                <class>Whlly_Sizematrix_Block</class>
            </sizematrix>
        </blocks>
        <helpers>
            <sizematrix>
                <class>Whlly_Sizematrix_Helper</class>
            </sizematrix>
        </helpers>
    </global>
</config>