<?xml version="1.0"?>
<config>
    <modules>
        <Whlly_Sizematrix>
            <version>1.0.0</version>
        </Whlly_Sizematrix>
    </modules>    
    <global>
		<models>
            <sizematrix>
                <class>Whlly_Sizematrix_Model</class>
            </sizematrix>
		</models>
        <blocks>
            <sizematrix>
                <class>Whlly_Sizematrix_Block</class>
            </sizematrix>
        </blocks>
        <helpers>
            <sizematrix>
                <class>Whlly_Sizematrix_Helper</class>
            </sizematrix>
        </helpers>
    </global>
	 <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Whlly_Sizematrix>
							<title>Sizematrix Module</title>
							<sort_order>10</sort_order>
						</Whlly_Sizematrix>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<sizematrix>
					<file>sizematrix.xml</file>
				</sizematrix>
			</updates>
		</layout>
    </adminhtml>  
	 <frontend>
        <layout>
            <updates>
                <sizematrix>
                    <file>sizematrix.xml</file>
                </sizematrix>
            </updates>
        </layout>
    </frontend> 
	<default>
	  <sizematrix>
		 <general> 
			  <enable>1</enable>
			  <separator>~</separator>
			  <separator_attribute>sku</separator_attribute>  
		 </general>
	   </sizematrix>
    </default>   
</config>
