<?xml version="1.0"?>
<config>
    <modules>
        <Offshorent_AdminShare>
            <version>1.0.0</version>
        </Offshorent_AdminShare>
    </modules>    
    <global>
        <blocks>
            <adminshare>
                <class>Offshorent_AdminShare_Block</class>
            </adminshare>
        </blocks>
        <helpers>
            <adminshare>
                <class>Offshorent_AdminShare_Helper</class>
            </adminshare>
        </helpers>
    </global>
	<adminhtml>
		<menu>
        	<promo>
				<children>
					<adminshare translate="title" module="adminshare">
							<title>Product Share</title>
							<sort_order>20</sort_order>
							<action>adminshare/share/grid</action>
					</adminshare>
				</children>
        </promo>
    </menu>
        
    <layout>
        <updates>
            <PointOfSales>
                <file>adminshare.xml</file>
            </PointOfSales>
        </updates>
    </layout>
        
    <acl>
        <resources>
            <admin>
                <children>
                    <promo>
                        <children>
                            <adminshare translate="title" module="adminshare">
                                <title>Product Share</title>
                            </adminshare>
                        </children>
                    </promo>
                </children>
            </admin>
        </resources>
    </acl>
	</adminhtml>
	<admin>
        <routers>
			<adminshare>
				<use>admin</use>
				<args>
					<module>Offshorent_AdminShare</module>
					<frontName>adminshare</frontName>
				</args>
			</adminshare>
        </routers>
    </admin>
</config>