<?xml version="1.0"?>
<config>
    <modules>
        <Offshorent_Socialaccounts>
            <version>0.1.0</version>
        </Offshorent_Socialaccounts>
    </modules>
    <frontend>
        <routers>
            <socialaccounts>
                <use>standard</use>
                <args>
                    <module>Offshorent_Socialaccounts</module>
                    <frontName>socialaccounts</frontName>
                </args>
            </socialaccounts>
        </routers>
        <layout>
            <updates>
                <socialaccounts>
                    <file>socialaccounts.xml</file>
                </socialaccounts>
            </updates>
        </layout>
    </frontend>
    <!--<admin>
        <routers>
			<socialaccounts>
				<use>admin</use>
				<args>
					<module>Offshorent_Socialaccounts</module>
					<frontName>socialaccounts</frontName>
				</args>
			</socialaccounts>
        </routers>
    </admin>-->
    <adminhtml>
		<!--<menu>
			<socialaccounts module="socialaccounts">
				<title>Socialaccounts</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="socialaccounts">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>socialaccounts/adminhtml_socialaccounts</action>
					</items>
				</children>
			</socialaccounts>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Offshorent_Socialaccounts>
							<title>Socialaccounts Module</title>
							<sort_order>10</sort_order>
						</Offshorent_Socialaccounts>
					</children>
				</admin>
			</resources>
		</acl>-->
		<layout>
			<updates>
				<socialaccounts>
					<file>socialaccounts.xml</file>
				</socialaccounts>
			</updates>
		</layout>
		<events>
          <adminhtml_customer_save_after>
            <observers>
                <offshorent_socialaccounts_observer>
                   <type>singleton</type>
                   <class>Offshorent_Socialaccounts_Model_Observer</class>
                   <method>saveCustomerinfo</method>
                </offshorent_socialaccounts_observer>
            </observers>
         </adminhtml_customer_save_after>
       </events>
    </adminhtml>   
    <global>
        <!--<models>
            <socialaccounts>
                <class>Offshorent_Socialaccounts_Model</class>
                <resourceModel>socialaccounts_mysql4</resourceModel>
            </socialaccounts>
            <socialaccounts_mysql4>
                <class>Offshorent_Socialaccounts_Model_Mysql4</class>
                <entities>
                    <socialaccounts>
                        <table>socialaccounts</table>
                    </socialaccounts>
                </entities>
            </socialaccounts_mysql4>
        </models>-->
		
		<helpers>
            <socialaccounts>
                <class>Offshorent_Socialaccounts_Helper</class>
            </socialaccounts>
        </helpers>
		
		<blocks>
            <socialaccounts>
                <class>Offshorent_Socialaccounts_Block</class>
            </socialaccounts>
			<adminhtml>
               <rewrite>
                 <customer_edit_tabs>Offshorent_Socialaccounts_Block_Adminhtml_Socialaccounts_Edit_Tab</customer_edit_tabs>
               </rewrite>
            </adminhtml>
        </blocks>
		
        <resources>
            <socialaccounts_setup>
                <setup>
                    <module>Offshorent_Socialaccounts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </socialaccounts_setup>
            <socialaccounts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </socialaccounts_write>
            <socialaccounts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </socialaccounts_read>
        </resources>
        
        
    </global>
</config>